body {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 0.75rem;
}

body {
  margin: 0;
}

/* Typography Base
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Mono", monospace;
}

h1, h2, h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

li {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 0.75rem;
}

.navigation {
  border-bottom: 1px solid #E3E1DB;
}

.navigation__list li {
  list-style: none;
  grid-gap: 1px;
  grid-row: 8/12;
}

a {
  text-decoration: none;
  color: #663366;
}

@media (min-width: 768px) {
  .navigation {
    margin-left: 0;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation__list {
    margin-left: -22px;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }

  .navigation__logo {
    font-size: 1.875rem;
  }
}
@media only screen and (max-width: 768px) {
  .us {
    display: none;
  }

  .navigation__list li {
    font-size: 0.75rem;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 992px) {
  .main__image {
    width: 24em;
    height: 11em;
  }
}
@media (min-width: 1200px) {
  .main__news {
    width: 74%;
    grid-gap: 10px;
  }

  .main__image {
    width: 17rem;
  }
}
@media only screen and (min-width: 1200px) {
  .aside {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 12;
  }

  .aside__tags-list li {
    list-style: none;
  }

  .aside__tags-list {
    text-align: right;
    align-items: center;
    margin-bottom: 10px;
  }

  .aside__tags-title {
    margin-top: 7px;
    margin-bottom: -10px;
  }

  .aside__us {
    border-bottom: 1px solid #E3E1DB;
  }

  .aside__tags {
    border-bottom: 1px solid #E3E1DB;
  }

  .aside__tags-item {
    display: inline-block;
    padding: 0 7px 0px 7px;
    font-weight: 600;
    background-color: #4682b4;
    border-color: #4682b4;
    color: #fff;
  }

  .aside__highlights-items-title {
    font-size: 0.75rem;
  }

  .aside__highlights-items-image {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .aside {
    display: none;
  }
}
.section {
  background-color: #E3E1DB;
  padding: 1em;
  text-align: center;
}

.footer {
  text-align: center;
}

.section__button {
  background-color: #FFB454;
  border: 0px #FFB454;
  color: #fff;
  font-weight: 600;
  padding: 3px;
}
.section__button:hover {
  background-color: #FF6602;
}

.navigation__input {
  border-radius: 12px;
  height: 17px;
}

.section__input {
  border: 0px;
}

/*# sourceMappingURL=main.css.map */
